*.class
*.log
*.iml
hs_err_pid*
*.hprof
**/.svn
**/.idea
**/.gradle
lombok.config
/resource
**/log
**/logs
**/out
**/build
!/*/src/main/java/**/log
!/*/src/main/java/**/logs
!/*/src/main/java/**/out
!/*/src/main/java/**/build
!/*/target
